# Build output
build/

# Visual Studio
.vs/
*.user

# Android
android/.gradle/
android/.kotlin/
android/build/
android/app/build/
android/local.properties
android/.idea/

# Godot
dagr/.godot/

# Pico firmware build output
pico/build/
